/*COLORS*/
@import url("https://fonts.googleapis.com/css?family=Glass+Antiqua|Raleway");
body {
  background-color: #0c0c0c;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

ul {
  padding: 0;
}

.navigation {
  position: fixed;
  width: 100%;
  z-index: 11;
  top: 0;
}
.navigation .star img {
  height: 1.5em;
}
.navigation .top > div {
  padding: 10px;
  text-align: center;
}
.navigation .bot {
  width: 100%;
  display: flex;
  font-family: "Glass Antiqua", cursive;
  color: #edddc4;
  font-size: 2.5rem;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  background-color: #fff;
  text-transform: uppercase;
}
.navigation .bot .col {
  flex: 1;
  min-width: 50%;
  text-align: center;
}
.navigation .bot .col:hover {
  filter: brightness(1.1);
}
@media only screen and (min-width: 768px) {
  .navigation .bot .col {
    min-width: 33%;
  }
}

.content {
  left: 20px;
  margin-left: -20px;
  height: 100vh;
  position: relative;
  scroll-behavior: smooth;
}

.wrapper {
  position: relative;
  height: 100vh;
  padding: 2em;
}

.text {
  font-family: "Raleway", sans-serif;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  position: relative;
  z-index: 10;
  width: 100%;
  height: 100vh;
}

.about.wrapper {
  height: unset;
}

.nameplate {
  font-family: "Glass Antiqua", cursive;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 4em;
  font-weight: 100;
}

.downwards {
  width: 1px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  transition: border 1s ease;
}

a,
a:visited {
  text-decoration: none;
}

.star .text {
  background: radial-gradient(circle, #0c0c0c 0%, #0c0c0c 3%, rgba(0, 0, 0, 0) 60%);
}
.star .tagline {
  color: #edddc4;
  font-size: 2em;
}

.start > .text > a > .downwards {
  border-top: 20px solid #edddc4;
}

.start > .text > a > .downwards:hover {
  border-top: 20px solid #48b2c5;
}

.about > .text > a > .downwards {
  border-top: 20px solid #00383d;
}

.about > .text > a > .downwards:hover {
  border-top: 20px solid #edddc4;
}

.design > .text > a > .downwards {
  border-top: 20px solid #00383d;
}

.design > .text > a > .downwards:hover {
  border-top: 20px solid #48b2c5;
}

.dev > .text > a > .downwards {
  border-top: 20px solid #00383d;
}

.dev > .text > a > .downwards:hover {
  border-top: 20px solid #e7819a;
}

.star > .text > .nameplate {
  background-color: rgba(0, 0, 0, 0.5);
}

.star {
  background-color: #0c0c0c;
  color: #fffaf2;
}
.star a {
  display: block;
}
.star a,
.star a:active,
.star a:visited {
  color: #edddc4;
}
.star a:hover {
  filter: brightness(1.1);
}

.about {
  background-color: #48b2c5;
  color: #00383d;
}

.design a,
.design a:active,
.design a:visited {
  color: #330033;
}

.design {
  background-color: #772277;
  color: #330033;
}

.dev a,
.dev a:active,
.dev a:visited {
  color: #4d4d4d;
}

.dev {
  background-color: #edddc4;
  color: #4d4d4d;
}

.contact a,
.contact a:active,
.contact a:visited {
  color: #4e0717;
}

.contact {
  background-color: #e7819a;
  color: #4e0717;
}

.footer {
  padding: 20px;
  text-align: center;
  color: #edddc4;
  font-family: "Raleway";
}

.aboutInfo {
  border-radius: 20px;
  margin-top: 2em;
  background-color: #edddc4;
  color: #0c0c0c;
  padding: 20px;
  max-width: 90%;
}

.bio {
  padding: 20px;
  display: flex;
  vertical-align: middle;
  justify-content: space-evenly;
  align-items: center;
}

.bio h3 {
  margin-top: 0;
  font-family: "Glass Antiqua";
}

.bio.techstack {
  border-top: 4px dotted #0c0c0c;
  flex-direction: column;
}

.techstack > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 600px;
}

.techstack > ul > li {
  display: inline-block;
  padding: 5px 10px;
  border: 2px dotted #0c0c0c;
  border-radius: 10px;
  margin: 5px;
}

.bioTagline {
  max-width: 400px;
}

.clouds .aboutInfo {
  background-color: rgb(248, 239, 224);
  margin-top: 0;
}

.clouds .text {
  height: unset;
}

.projects {
  text-align: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.projects .project {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  flex-direction: column;
}
.projects .projectsMenu ul {
  list-style: none;
  font-size: 2em;
  font-family: "Glass Antiqua";
  align-items: start;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-right: 20px;
  border-right: 3px dotted #0c0c0c;
}
.projects .projectsMenu ul .activeProject, .projects .projectsMenu ul li:hover {
  font-weight: 900;
  border-bottom: 2px dotted #0c0c0c;
}
.projects .projectsMenu ul li {
  padding: 20px;
}
.projects .projectsInfo {
  flex: 1;
  max-width: 100%;
  padding: 20px;
}
.projects .projectsInfo .project {
  display: none;
}
.projects .projectsInfo .activeProject {
  display: flex;
}

.project {
  max-width: 650px;
}

.mockup {
  font-style: italic;
  display: block;
}

.splide__slide__container {
  text-align: center;
  max-width: 640px;
}

.splide__slide__container > img {
  margin-bottom: 1em;
  max-width: 640px;
  display: block;
}

.splide {
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
}

.splide__pagination--ttb {
  right: -1.5em !important;
}

.splide__arrow {
  background-color: #0c0c0c;
  color: #edddc4;
}

.splide__arrow svg {
  fill: #edddc4;
}

.splide__pagination__page.is-active {
  background-color: #48b2c5;
}

.splide__pagination__page {
  background-color: #0c0c0c;
}

.splide__arrow {
  bottom: 0%;
  top: unset;
}

.slideimg {
  max-width: 90%;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
}

#carousel-heading {
  text-align: center;
}

.contact > .text {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 2em;
}

.contact > .text > a {
  color: #4e0717;
  margin: 0 0.5em;
}

@media only screen and (max-width: 1065px) {
  .projects {
    align-items: center;
  }
  .projects .projectsMenu ul {
    width: 100%;
    flex-direction: row;
    border-right: 0;
    padding-right: 0;
    padding-bottom: 2em;
    border-bottom: 3px dotted #0c0c0c;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .splide__arrow--next {
    right: 3em;
  }
  .splide__slide__container {
    text-align: center;
    max-width: 90%;
  }
  .splide__slide__container > img {
    margin-bottom: 1em;
    width: 100%;
  }
  .splide__pagination--ttb {
    display: none;
  }
}
h2 a, h2 a:visited {
  color: #0c0c0c;
}

.stars {
  background: url("http://caitlynchristensen.com/assets/star.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  display: inline-block;
  position: absolute;
  width: 100%;
}

.dots {
  background-color: #edddc4;
  border-radius: 50px;
  display: inline-block;
  position: absolute;
  width: 100%;
}

.dark-star {
  filter: invert(100%) sepia(10%) saturate(0%) hue-rotate(0deg) brightness(30%) contrast(100%);
}

.c1,
.c2 {
  position: absolute;
  top: 9%;
}

.c3,
.c4 {
  position: absolute;
  top: 84%;
  right: 0;
}

.cloud:nth-child(odd) {
  margin-top: -3%;
  margin-left: 5%;
}

.s1 {
  height: 33px;
  right: 12%;
  top: 3%;
  width: 33px;
  -webkit-animation: twirl 47s linear infinite;
  -moz-animation: twirl 47s linear infinite;
  -ms-animation: twirl 47s linear infinite;
  -o-animation: twirl 47s linear infinite;
  transition: twirl 47s linear infinite;
  animation: twirl 47s linear infinite;
}

.d1 {
  height: 48px;
  left: 15%;
  top: 3%;
  width: 48px;
  -webkit-animation: twirl 25s linear infinite;
  -moz-animation: twirl 25s linear infinite;
  -ms-animation: twirl 25s linear infinite;
  -o-animation: twirl 25s linear infinite;
  transition: twirl 25s linear infinite;
  animation: twirl 25s linear infinite;
}

.p1 {
  height: 9px;
  left: 22%;
  top: 61%;
  width: 9px;
}

.t1 {
  height: 15px;
  right: 41%;
  top: 53%;
  width: 15px;
}

.c1 {
  width: 50%;
}

.c1 {
  height: 9%;
  background-color: #edddc4;
  border-radius: 200px;
}

.c1 {
  float: right;
}

.s2 {
  height: 24px;
  right: 19%;
  top: 6%;
  width: 24px;
  -webkit-animation: twirl 36s linear infinite;
  -moz-animation: twirl 36s linear infinite;
  -ms-animation: twirl 36s linear infinite;
  -o-animation: twirl 36s linear infinite;
  transition: twirl 36s linear infinite;
  animation: twirl 36s linear infinite;
}

.d2 {
  height: 37px;
  left: 18%;
  top: 6%;
  width: 37px;
  -webkit-animation: twirl 49s linear infinite;
  -moz-animation: twirl 49s linear infinite;
  -ms-animation: twirl 49s linear infinite;
  -o-animation: twirl 49s linear infinite;
  transition: twirl 49s linear infinite;
  animation: twirl 49s linear infinite;
}

.s2 {
  right: 27%;
}

.d2 {
  left: 34%;
}

.d2,
.s2 {
  top: 16%;
}

.p2 {
  height: 10px;
  left: 40%;
  top: 92%;
  width: 10px;
}

.t2 {
  height: 13px;
  right: 22%;
  top: 76%;
  width: 13px;
}

.d2,
.s2 {
  animation-direction: reverse;
}

.c2 {
  width: 60%;
}

.c2 {
  height: 15%;
  background-color: #edddc4;
  border-radius: 200px;
}

.c2 {
  float: right;
}

.s3 {
  height: 12px;
  right: 33%;
  top: 9%;
  width: 12px;
  -webkit-animation: twirl 28s linear infinite;
  -moz-animation: twirl 28s linear infinite;
  -ms-animation: twirl 28s linear infinite;
  -o-animation: twirl 28s linear infinite;
  transition: twirl 28s linear infinite;
  animation: twirl 28s linear infinite;
}

.d3 {
  height: 22px;
  left: 47%;
  top: 9%;
  width: 22px;
  -webkit-animation: twirl 29s linear infinite;
  -moz-animation: twirl 29s linear infinite;
  -ms-animation: twirl 29s linear infinite;
  -o-animation: twirl 29s linear infinite;
  transition: twirl 29s linear infinite;
  animation: twirl 29s linear infinite;
}

.p3 {
  height: 7px;
  left: 5%;
  top: 12%;
  width: 7px;
}

.t3 {
  height: 9px;
  right: 28%;
  top: 93%;
  width: 9px;
}

.d3,
.s3 {
  animation-direction: reverse;
}

.c3 {
  width: 50%;
}

.c3 {
  height: 17%;
  background-color: #edddc4;
  border-radius: 200px;
}

.c3 {
  float: right;
}

.s4 {
  height: 48px;
  right: 24%;
  top: 12%;
  width: 48px;
  -webkit-animation: twirl 31s linear infinite;
  -moz-animation: twirl 31s linear infinite;
  -ms-animation: twirl 31s linear infinite;
  -o-animation: twirl 31s linear infinite;
  transition: twirl 31s linear infinite;
  animation: twirl 31s linear infinite;
}

.d4 {
  height: 21px;
  left: 50%;
  top: 12%;
  width: 21px;
  -webkit-animation: twirl 47s linear infinite;
  -moz-animation: twirl 47s linear infinite;
  -ms-animation: twirl 47s linear infinite;
  -o-animation: twirl 47s linear infinite;
  transition: twirl 47s linear infinite;
  animation: twirl 47s linear infinite;
}

.s4 {
  right: 27%;
}

.d4 {
  left: 36%;
}

.d4,
.s4 {
  top: 32%;
}

.p4 {
  height: 12px;
  left: 6%;
  top: 52%;
  width: 12px;
}

.t4 {
  height: 15px;
  right: 16%;
  top: 2%;
  width: 15px;
}

.c4 {
  width: 60%;
}

.c4 {
  height: 15%;
  background-color: #edddc4;
  border-radius: 200px;
}

.c4 {
  float: right;
}

.s5 {
  height: 12px;
  right: 2%;
  top: 15%;
  width: 12px;
  -webkit-animation: twirl 49s linear infinite;
  -moz-animation: twirl 49s linear infinite;
  -ms-animation: twirl 49s linear infinite;
  -o-animation: twirl 49s linear infinite;
  transition: twirl 49s linear infinite;
  animation: twirl 49s linear infinite;
}

.d5 {
  height: 18px;
  left: 4%;
  top: 15%;
  width: 18px;
  -webkit-animation: twirl 39s linear infinite;
  -moz-animation: twirl 39s linear infinite;
  -ms-animation: twirl 39s linear infinite;
  -o-animation: twirl 39s linear infinite;
  transition: twirl 39s linear infinite;
  animation: twirl 39s linear infinite;
}

.p5 {
  height: 7px;
  left: 18%;
  top: 44%;
  width: 7px;
}

.t5 {
  height: 12px;
  right: 27%;
  top: 65%;
  width: 12px;
}

.c5 {
  width: 50%;
}

.c5 {
  height: 17%;
  background-color: #edddc4;
  border-radius: 200px;
}

.c5 {
  float: right;
}

.s6 {
  height: 33px;
  right: 39%;
  top: 18%;
  width: 33px;
  -webkit-animation: twirl 31s linear infinite;
  -moz-animation: twirl 31s linear infinite;
  -ms-animation: twirl 31s linear infinite;
  -o-animation: twirl 31s linear infinite;
  transition: twirl 31s linear infinite;
  animation: twirl 31s linear infinite;
}

.d6 {
  height: 47px;
  left: 29%;
  top: 18%;
  width: 47px;
  -webkit-animation: twirl 45s linear infinite;
  -moz-animation: twirl 45s linear infinite;
  -ms-animation: twirl 45s linear infinite;
  -o-animation: twirl 45s linear infinite;
  transition: twirl 45s linear infinite;
  animation: twirl 45s linear infinite;
}

.s6 {
  right: 38%;
}

.d6 {
  left: 33%;
}

.d6,
.s6 {
  top: 48%;
}

.p6 {
  height: 6px;
  left: 24%;
  top: 62%;
  width: 6px;
}

.t6 {
  height: 13px;
  right: 46%;
  top: 77%;
  width: 13px;
}

.c6 {
  width: 60%;
}

.c6 {
  height: 17%;
  background-color: #edddc4;
  border-radius: 200px;
}

.c6 {
  float: right;
}

.s7 {
  height: 27px;
  right: 26%;
  top: 21%;
  width: 27px;
  -webkit-animation: twirl 45s linear infinite;
  -moz-animation: twirl 45s linear infinite;
  -ms-animation: twirl 45s linear infinite;
  -o-animation: twirl 45s linear infinite;
  transition: twirl 45s linear infinite;
  animation: twirl 45s linear infinite;
}

.d7 {
  height: 40px;
  left: 36%;
  top: 21%;
  width: 40px;
  -webkit-animation: twirl 38s linear infinite;
  -moz-animation: twirl 38s linear infinite;
  -ms-animation: twirl 38s linear infinite;
  -o-animation: twirl 38s linear infinite;
  transition: twirl 38s linear infinite;
  animation: twirl 38s linear infinite;
}

.p7 {
  height: 11px;
  left: 42%;
  top: 97%;
  width: 11px;
}

.t7 {
  height: 8px;
  right: 29%;
  top: 12%;
  width: 8px;
}

.c7 {
  width: 50%;
}

.c7 {
  height: 10%;
  background-color: #edddc4;
  border-radius: 200px;
}

.c7 {
  float: right;
}

.s8 {
  height: 49px;
  right: 39%;
  top: 24%;
  width: 49px;
  -webkit-animation: twirl 49s linear infinite;
  -moz-animation: twirl 49s linear infinite;
  -ms-animation: twirl 49s linear infinite;
  -o-animation: twirl 49s linear infinite;
  transition: twirl 49s linear infinite;
  animation: twirl 49s linear infinite;
}

.d8 {
  height: 45px;
  left: 9%;
  top: 24%;
  width: 45px;
  -webkit-animation: twirl 46s linear infinite;
  -moz-animation: twirl 46s linear infinite;
  -ms-animation: twirl 46s linear infinite;
  -o-animation: twirl 46s linear infinite;
  transition: twirl 46s linear infinite;
  animation: twirl 46s linear infinite;
}

.s8 {
  right: 38%;
}

.d8 {
  left: 35%;
}

.d8,
.s8 {
  top: 64%;
}

.p8 {
  height: 12px;
  left: 6%;
  top: 75%;
  width: 12px;
}

.t8 {
  height: 6px;
  right: 43%;
  top: 9%;
  width: 6px;
}

.d8,
.s8 {
  animation-direction: reverse;
}

.c8 {
  width: 60%;
}

.c8 {
  height: 16%;
  background-color: #edddc4;
  border-radius: 200px;
}

.c8 {
  float: right;
}

.s9 {
  height: 44px;
  right: 37%;
  top: 27%;
  width: 44px;
  -webkit-animation: twirl 34s linear infinite;
  -moz-animation: twirl 34s linear infinite;
  -ms-animation: twirl 34s linear infinite;
  -o-animation: twirl 34s linear infinite;
  transition: twirl 34s linear infinite;
  animation: twirl 34s linear infinite;
}

.d9 {
  height: 18px;
  left: 24%;
  top: 27%;
  width: 18px;
  -webkit-animation: twirl 41s linear infinite;
  -moz-animation: twirl 41s linear infinite;
  -ms-animation: twirl 41s linear infinite;
  -o-animation: twirl 41s linear infinite;
  transition: twirl 41s linear infinite;
  animation: twirl 41s linear infinite;
}

.p9 {
  height: 13px;
  left: 31%;
  top: 12%;
  width: 13px;
}

.t9 {
  height: 12px;
  right: 45%;
  top: 84%;
  width: 12px;
}

.d9,
.s9 {
  animation-direction: reverse;
}

.c9 {
  width: 50%;
}

.c9 {
  height: 16%;
  background-color: #edddc4;
  border-radius: 200px;
}

.c9 {
  float: right;
}

.s10 {
  height: 50px;
  right: 31%;
  top: 30%;
  width: 50px;
  -webkit-animation: twirl 23s linear infinite;
  -moz-animation: twirl 23s linear infinite;
  -ms-animation: twirl 23s linear infinite;
  -o-animation: twirl 23s linear infinite;
  transition: twirl 23s linear infinite;
  animation: twirl 23s linear infinite;
}

.d10 {
  height: 19px;
  left: 26%;
  top: 30%;
  width: 19px;
  -webkit-animation: twirl 45s linear infinite;
  -moz-animation: twirl 45s linear infinite;
  -ms-animation: twirl 45s linear infinite;
  -o-animation: twirl 45s linear infinite;
  transition: twirl 45s linear infinite;
  animation: twirl 45s linear infinite;
}

.s10 {
  right: 40%;
}

.d10 {
  left: 40%;
}

.d10,
.s10 {
  top: 80%;
}

.p10 {
  height: 8px;
  left: 24%;
  top: 90%;
  width: 8px;
}

.t10 {
  height: 15px;
  right: 4%;
  top: 10%;
  width: 15px;
}

.d10,
.s10 {
  animation-direction: reverse;
}

.c10 {
  width: 60%;
}

.c10 {
  height: 17%;
  background-color: #edddc4;
  border-radius: 200px;
}

.c10 {
  float: right;
}

.s11 {
  height: 15px;
  right: 6%;
  top: 33%;
  width: 15px;
  -webkit-animation: twirl 23s linear infinite;
  -moz-animation: twirl 23s linear infinite;
  -ms-animation: twirl 23s linear infinite;
  -o-animation: twirl 23s linear infinite;
  transition: twirl 23s linear infinite;
  animation: twirl 23s linear infinite;
}

.d11 {
  height: 25px;
  left: 34%;
  top: 33%;
  width: 25px;
  -webkit-animation: twirl 27s linear infinite;
  -moz-animation: twirl 27s linear infinite;
  -ms-animation: twirl 27s linear infinite;
  -o-animation: twirl 27s linear infinite;
  transition: twirl 27s linear infinite;
  animation: twirl 27s linear infinite;
}

.p11 {
  height: 13px;
  left: 21%;
  top: 43%;
  width: 13px;
}

.t11 {
  height: 15px;
  right: 18%;
  top: 68%;
  width: 15px;
}

.d11,
.s11 {
  animation-direction: reverse;
}

.c11 {
  width: 50%;
}

.c11 {
  height: 18%;
  background-color: #edddc4;
  border-radius: 200px;
}

.c11 {
  float: right;
}

.s12 {
  height: 36px;
  right: 46%;
  top: 36%;
  width: 36px;
  -webkit-animation: twirl 25s linear infinite;
  -moz-animation: twirl 25s linear infinite;
  -ms-animation: twirl 25s linear infinite;
  -o-animation: twirl 25s linear infinite;
  transition: twirl 25s linear infinite;
  animation: twirl 25s linear infinite;
}

.d12 {
  height: 33px;
  left: 13%;
  top: 36%;
  width: 33px;
  -webkit-animation: twirl 50s linear infinite;
  -moz-animation: twirl 50s linear infinite;
  -ms-animation: twirl 50s linear infinite;
  -o-animation: twirl 50s linear infinite;
  transition: twirl 50s linear infinite;
  animation: twirl 50s linear infinite;
}

.s12 {
  right: 36%;
}

.d12 {
  left: 35%;
}

.d12,
.s12 {
  top: 96%;
}

.p12 {
  height: 10px;
  left: 34%;
  top: 45%;
  width: 10px;
}

.t12 {
  height: 9px;
  right: 20%;
  top: 60%;
  width: 9px;
}

.d12,
.s12 {
  animation-direction: reverse;
}

.c12 {
  width: 60%;
}

.c12 {
  height: 17%;
  background-color: #edddc4;
  border-radius: 200px;
}

.c12 {
  float: right;
}

.s13 {
  height: 35px;
  right: 29%;
  top: 39%;
  width: 35px;
  -webkit-animation: twirl 22s linear infinite;
  -moz-animation: twirl 22s linear infinite;
  -ms-animation: twirl 22s linear infinite;
  -o-animation: twirl 22s linear infinite;
  transition: twirl 22s linear infinite;
  animation: twirl 22s linear infinite;
}

.d13 {
  height: 42px;
  left: 25%;
  top: 39%;
  width: 42px;
  -webkit-animation: twirl 43s linear infinite;
  -moz-animation: twirl 43s linear infinite;
  -ms-animation: twirl 43s linear infinite;
  -o-animation: twirl 43s linear infinite;
  transition: twirl 43s linear infinite;
  animation: twirl 43s linear infinite;
}

.p13 {
  height: 11px;
  left: 42%;
  top: 51%;
  width: 11px;
}

.t13 {
  height: 11px;
  right: 19%;
  top: 7%;
  width: 11px;
}

.c13 {
  width: 50%;
}

.c13 {
  height: 16%;
  background-color: #edddc4;
  border-radius: 200px;
}

.c13 {
  float: right;
}

.s14 {
  height: 29px;
  right: 9%;
  top: 42%;
  width: 29px;
  -webkit-animation: twirl 32s linear infinite;
  -moz-animation: twirl 32s linear infinite;
  -ms-animation: twirl 32s linear infinite;
  -o-animation: twirl 32s linear infinite;
  transition: twirl 32s linear infinite;
  animation: twirl 32s linear infinite;
}

.d14 {
  height: 25px;
  left: 5%;
  top: 42%;
  width: 25px;
  -webkit-animation: twirl 30s linear infinite;
  -moz-animation: twirl 30s linear infinite;
  -ms-animation: twirl 30s linear infinite;
  -o-animation: twirl 30s linear infinite;
  transition: twirl 30s linear infinite;
  animation: twirl 30s linear infinite;
}

.s14 {
  right: 26%;
}

.d14 {
  left: 30%;
}

.d14,
.s14 {
  top: 112%;
}

.p14 {
  height: 12px;
  left: 10%;
  top: 76%;
  width: 12px;
}

.t14 {
  height: 6px;
  right: 38%;
  top: 26%;
  width: 6px;
}

.d14,
.s14 {
  animation-direction: reverse;
}

.c14 {
  width: 60%;
}

.c14 {
  height: 18%;
  background-color: #edddc4;
  border-radius: 200px;
}

.c14 {
  float: right;
}

.s15 {
  height: 40px;
  right: 49%;
  top: 45%;
  width: 40px;
  -webkit-animation: twirl 30s linear infinite;
  -moz-animation: twirl 30s linear infinite;
  -ms-animation: twirl 30s linear infinite;
  -o-animation: twirl 30s linear infinite;
  transition: twirl 30s linear infinite;
  animation: twirl 30s linear infinite;
}

.d15 {
  height: 48px;
  left: 40%;
  top: 45%;
  width: 48px;
  -webkit-animation: twirl 36s linear infinite;
  -moz-animation: twirl 36s linear infinite;
  -ms-animation: twirl 36s linear infinite;
  -o-animation: twirl 36s linear infinite;
  transition: twirl 36s linear infinite;
  animation: twirl 36s linear infinite;
}

.p15 {
  height: 10px;
  left: 37%;
  top: 58%;
  width: 10px;
}

.t15 {
  height: 7px;
  right: 26%;
  top: 87%;
  width: 7px;
}

.c15 {
  width: 50%;
}

.c15 {
  height: 13%;
  background-color: #edddc4;
  border-radius: 200px;
}

.c15 {
  float: right;
}

.s16 {
  height: 25px;
  right: 47%;
  top: 48%;
  width: 25px;
  -webkit-animation: twirl 43s linear infinite;
  -moz-animation: twirl 43s linear infinite;
  -ms-animation: twirl 43s linear infinite;
  -o-animation: twirl 43s linear infinite;
  transition: twirl 43s linear infinite;
  animation: twirl 43s linear infinite;
}

.d16 {
  height: 38px;
  left: 34%;
  top: 48%;
  width: 38px;
  -webkit-animation: twirl 48s linear infinite;
  -moz-animation: twirl 48s linear infinite;
  -ms-animation: twirl 48s linear infinite;
  -o-animation: twirl 48s linear infinite;
  transition: twirl 48s linear infinite;
  animation: twirl 48s linear infinite;
}

.s16 {
  right: 31%;
}

.d16 {
  left: 39%;
}

.d16,
.s16 {
  top: 128%;
}

.p16 {
  height: 7px;
  left: 11%;
  top: 13%;
  width: 7px;
}

.t16 {
  height: 11px;
  right: 31%;
  top: 67%;
  width: 11px;
}

.d16,
.s16 {
  animation-direction: reverse;
}

.c16 {
  width: 60%;
}

.c16 {
  height: 18%;
  background-color: #edddc4;
  border-radius: 200px;
}

.c16 {
  float: right;
}

.s17 {
  height: 45px;
  right: 1%;
  top: 51%;
  width: 45px;
  -webkit-animation: twirl 30s linear infinite;
  -moz-animation: twirl 30s linear infinite;
  -ms-animation: twirl 30s linear infinite;
  -o-animation: twirl 30s linear infinite;
  transition: twirl 30s linear infinite;
  animation: twirl 30s linear infinite;
}

.d17 {
  height: 42px;
  left: 17%;
  top: 51%;
  width: 42px;
  -webkit-animation: twirl 40s linear infinite;
  -moz-animation: twirl 40s linear infinite;
  -ms-animation: twirl 40s linear infinite;
  -o-animation: twirl 40s linear infinite;
  transition: twirl 40s linear infinite;
  animation: twirl 40s linear infinite;
}

.p17 {
  height: 11px;
  left: 39%;
  top: 1%;
  width: 11px;
}

.t17 {
  height: 12px;
  right: 22%;
  top: 14%;
  width: 12px;
}

.c17 {
  width: 50%;
}

.c17 {
  height: 12%;
  background-color: #edddc4;
  border-radius: 200px;
}

.c17 {
  float: right;
}

.s18 {
  height: 21px;
  right: 21%;
  top: 54%;
  width: 21px;
  -webkit-animation: twirl 35s linear infinite;
  -moz-animation: twirl 35s linear infinite;
  -ms-animation: twirl 35s linear infinite;
  -o-animation: twirl 35s linear infinite;
  transition: twirl 35s linear infinite;
  animation: twirl 35s linear infinite;
}

.d18 {
  height: 31px;
  left: 15%;
  top: 54%;
  width: 31px;
  -webkit-animation: twirl 43s linear infinite;
  -moz-animation: twirl 43s linear infinite;
  -ms-animation: twirl 43s linear infinite;
  -o-animation: twirl 43s linear infinite;
  transition: twirl 43s linear infinite;
  animation: twirl 43s linear infinite;
}

.s18 {
  right: 36%;
}

.d18 {
  left: 38%;
}

.d18,
.s18 {
  top: 144%;
}

.p18 {
  height: 13px;
  left: 35%;
  top: 34%;
  width: 13px;
}

.t18 {
  height: 12px;
  right: 19%;
  top: 38%;
  width: 12px;
}

.c18 {
  width: 60%;
}

.c18 {
  height: 13%;
  background-color: #edddc4;
  border-radius: 200px;
}

.c18 {
  float: right;
}

.s19 {
  height: 15px;
  right: 49%;
  top: 57%;
  width: 15px;
  -webkit-animation: twirl 30s linear infinite;
  -moz-animation: twirl 30s linear infinite;
  -ms-animation: twirl 30s linear infinite;
  -o-animation: twirl 30s linear infinite;
  transition: twirl 30s linear infinite;
  animation: twirl 30s linear infinite;
}

.d19 {
  height: 20px;
  left: 12%;
  top: 57%;
  width: 20px;
  -webkit-animation: twirl 35s linear infinite;
  -moz-animation: twirl 35s linear infinite;
  -ms-animation: twirl 35s linear infinite;
  -o-animation: twirl 35s linear infinite;
  transition: twirl 35s linear infinite;
  animation: twirl 35s linear infinite;
}

.p19 {
  height: 8px;
  left: 12%;
  top: 17%;
  width: 8px;
}

.t19 {
  height: 10px;
  right: 9%;
  top: 55%;
  width: 10px;
}

.c19 {
  width: 50%;
}

.c19 {
  height: 13%;
  background-color: #edddc4;
  border-radius: 200px;
}

.c19 {
  float: right;
}

.s20 {
  height: 11px;
  right: 32%;
  top: 60%;
  width: 11px;
  -webkit-animation: twirl 48s linear infinite;
  -moz-animation: twirl 48s linear infinite;
  -ms-animation: twirl 48s linear infinite;
  -o-animation: twirl 48s linear infinite;
  transition: twirl 48s linear infinite;
  animation: twirl 48s linear infinite;
}

.d20 {
  height: 52px;
  left: 28%;
  top: 60%;
  width: 52px;
  -webkit-animation: twirl 30s linear infinite;
  -moz-animation: twirl 30s linear infinite;
  -ms-animation: twirl 30s linear infinite;
  -o-animation: twirl 30s linear infinite;
  transition: twirl 30s linear infinite;
  animation: twirl 30s linear infinite;
}

.s20 {
  right: 27%;
}

.d20 {
  left: 29%;
}

.d20,
.s20 {
  top: 160%;
}

.p20 {
  height: 11px;
  left: 25%;
  top: 80%;
  width: 11px;
}

.t20 {
  height: 12px;
  right: 41%;
  top: 67%;
  width: 12px;
}

.d20,
.s20 {
  animation-direction: reverse;
}

.c20 {
  width: 60%;
}

.c20 {
  height: 11%;
  background-color: #edddc4;
  border-radius: 200px;
}

.c20 {
  float: right;
}

.s21 {
  height: 30px;
  right: 30%;
  top: 63%;
  width: 30px;
  -webkit-animation: twirl 22s linear infinite;
  -moz-animation: twirl 22s linear infinite;
  -ms-animation: twirl 22s linear infinite;
  -o-animation: twirl 22s linear infinite;
  transition: twirl 22s linear infinite;
  animation: twirl 22s linear infinite;
}

.d21 {
  height: 16px;
  left: 8%;
  top: 63%;
  width: 16px;
  -webkit-animation: twirl 45s linear infinite;
  -moz-animation: twirl 45s linear infinite;
  -ms-animation: twirl 45s linear infinite;
  -o-animation: twirl 45s linear infinite;
  transition: twirl 45s linear infinite;
  animation: twirl 45s linear infinite;
}

.p21 {
  height: 9px;
  left: 49%;
  top: 27%;
  width: 9px;
}

.t21 {
  height: 11px;
  right: 42%;
  top: 29%;
  width: 11px;
}

.c21 {
  width: 50%;
}

.c21 {
  height: 15%;
  background-color: #edddc4;
  border-radius: 200px;
}

.c21 {
  float: right;
}

.s22 {
  height: 37px;
  right: 7%;
  top: 66%;
  width: 37px;
  -webkit-animation: twirl 22s linear infinite;
  -moz-animation: twirl 22s linear infinite;
  -ms-animation: twirl 22s linear infinite;
  -o-animation: twirl 22s linear infinite;
  transition: twirl 22s linear infinite;
  animation: twirl 22s linear infinite;
}

.d22 {
  height: 45px;
  left: 34%;
  top: 66%;
  width: 45px;
  -webkit-animation: twirl 41s linear infinite;
  -moz-animation: twirl 41s linear infinite;
  -ms-animation: twirl 41s linear infinite;
  -o-animation: twirl 41s linear infinite;
  transition: twirl 41s linear infinite;
  animation: twirl 41s linear infinite;
}

.s22 {
  right: 27%;
}

.d22 {
  left: 38%;
}

.d22,
.s22 {
  top: 176%;
}

.p22 {
  height: 10px;
  left: 19%;
  top: 16%;
  width: 10px;
}

.t22 {
  height: 13px;
  right: 11%;
  top: 52%;
  width: 13px;
}

.d22,
.s22 {
  animation-direction: reverse;
}

.c22 {
  width: 60%;
}

.c22 {
  height: 15%;
  background-color: #edddc4;
  border-radius: 200px;
}

.c22 {
  float: right;
}

.s23 {
  height: 46px;
  right: 22%;
  top: 69%;
  width: 46px;
  -webkit-animation: twirl 48s linear infinite;
  -moz-animation: twirl 48s linear infinite;
  -ms-animation: twirl 48s linear infinite;
  -o-animation: twirl 48s linear infinite;
  transition: twirl 48s linear infinite;
  animation: twirl 48s linear infinite;
}

.d23 {
  height: 30px;
  left: 50%;
  top: 69%;
  width: 30px;
  -webkit-animation: twirl 45s linear infinite;
  -moz-animation: twirl 45s linear infinite;
  -ms-animation: twirl 45s linear infinite;
  -o-animation: twirl 45s linear infinite;
  transition: twirl 45s linear infinite;
  animation: twirl 45s linear infinite;
}

.p23 {
  height: 14px;
  left: 16%;
  top: 47%;
  width: 14px;
}

.t23 {
  height: 13px;
  right: 37%;
  top: 15%;
  width: 13px;
}

.d23,
.s23 {
  animation-direction: reverse;
}

.c23 {
  width: 50%;
}

.c23 {
  height: 13%;
  background-color: #edddc4;
  border-radius: 200px;
}

.c23 {
  float: right;
}

.s24 {
  height: 19px;
  right: 29%;
  top: 72%;
  width: 19px;
  -webkit-animation: twirl 22s linear infinite;
  -moz-animation: twirl 22s linear infinite;
  -ms-animation: twirl 22s linear infinite;
  -o-animation: twirl 22s linear infinite;
  transition: twirl 22s linear infinite;
  animation: twirl 22s linear infinite;
}

.d24 {
  height: 21px;
  left: 15%;
  top: 72%;
  width: 21px;
  -webkit-animation: twirl 43s linear infinite;
  -moz-animation: twirl 43s linear infinite;
  -ms-animation: twirl 43s linear infinite;
  -o-animation: twirl 43s linear infinite;
  transition: twirl 43s linear infinite;
  animation: twirl 43s linear infinite;
}

.s24 {
  right: 36%;
}

.d24 {
  left: 31%;
}

.d24,
.s24 {
  top: 192%;
}

.p24 {
  height: 9px;
  left: 27%;
  top: 35%;
  width: 9px;
}

.t24 {
  height: 14px;
  right: 16%;
  top: 86%;
  width: 14px;
}

.d24,
.s24 {
  animation-direction: reverse;
}

.c24 {
  width: 60%;
}

.c24 {
  height: 16%;
  background-color: #edddc4;
  border-radius: 200px;
}

.c24 {
  float: right;
}

.s25 {
  height: 26px;
  right: 40%;
  top: 75%;
  width: 26px;
  -webkit-animation: twirl 33s linear infinite;
  -moz-animation: twirl 33s linear infinite;
  -ms-animation: twirl 33s linear infinite;
  -o-animation: twirl 33s linear infinite;
  transition: twirl 33s linear infinite;
  animation: twirl 33s linear infinite;
}

.d25 {
  height: 26px;
  left: 21%;
  top: 75%;
  width: 26px;
  -webkit-animation: twirl 26s linear infinite;
  -moz-animation: twirl 26s linear infinite;
  -ms-animation: twirl 26s linear infinite;
  -o-animation: twirl 26s linear infinite;
  transition: twirl 26s linear infinite;
  animation: twirl 26s linear infinite;
}

.p25 {
  height: 8px;
  left: 48%;
  top: 46%;
  width: 8px;
}

.t25 {
  height: 10px;
  right: 45%;
  top: 72%;
  width: 10px;
}

.d25,
.s25 {
  animation-direction: reverse;
}

.c25 {
  width: 50%;
}

.c25 {
  height: 14%;
  background-color: #edddc4;
  border-radius: 200px;
}

.c25 {
  float: right;
}

.s26 {
  height: 25px;
  right: 33%;
  top: 78%;
  width: 25px;
  -webkit-animation: twirl 41s linear infinite;
  -moz-animation: twirl 41s linear infinite;
  -ms-animation: twirl 41s linear infinite;
  -o-animation: twirl 41s linear infinite;
  transition: twirl 41s linear infinite;
  animation: twirl 41s linear infinite;
}

.d26 {
  height: 26px;
  left: 25%;
  top: 78%;
  width: 26px;
  -webkit-animation: twirl 50s linear infinite;
  -moz-animation: twirl 50s linear infinite;
  -ms-animation: twirl 50s linear infinite;
  -o-animation: twirl 50s linear infinite;
  transition: twirl 50s linear infinite;
  animation: twirl 50s linear infinite;
}

.s26 {
  right: 37%;
}

.d26 {
  left: 28%;
}

.d26,
.s26 {
  top: 208%;
}

.p26 {
  height: 11px;
  left: 18%;
  top: 86%;
  width: 11px;
}

.t26 {
  height: 6px;
  right: 25%;
  top: 98%;
  width: 6px;
}

.d26,
.s26 {
  animation-direction: reverse;
}

.c26 {
  width: 60%;
}

.c26 {
  height: 15%;
  background-color: #edddc4;
  border-radius: 200px;
}

.c26 {
  float: right;
}

.s27 {
  height: 44px;
  right: 42%;
  top: 81%;
  width: 44px;
  -webkit-animation: twirl 38s linear infinite;
  -moz-animation: twirl 38s linear infinite;
  -ms-animation: twirl 38s linear infinite;
  -o-animation: twirl 38s linear infinite;
  transition: twirl 38s linear infinite;
  animation: twirl 38s linear infinite;
}

.d27 {
  height: 52px;
  left: 10%;
  top: 81%;
  width: 52px;
  -webkit-animation: twirl 44s linear infinite;
  -moz-animation: twirl 44s linear infinite;
  -ms-animation: twirl 44s linear infinite;
  -o-animation: twirl 44s linear infinite;
  transition: twirl 44s linear infinite;
  animation: twirl 44s linear infinite;
}

.p27 {
  height: 15px;
  left: 30%;
  top: 91%;
  width: 15px;
}

.t27 {
  height: 13px;
  right: 16%;
  top: 29%;
  width: 13px;
}

.d27,
.s27 {
  animation-direction: reverse;
}

.c27 {
  width: 50%;
}

.c27 {
  height: 11%;
  background-color: #edddc4;
  border-radius: 200px;
}

.c27 {
  float: right;
}

.s28 {
  height: 42px;
  right: 8%;
  top: 84%;
  width: 42px;
  -webkit-animation: twirl 24s linear infinite;
  -moz-animation: twirl 24s linear infinite;
  -ms-animation: twirl 24s linear infinite;
  -o-animation: twirl 24s linear infinite;
  transition: twirl 24s linear infinite;
  animation: twirl 24s linear infinite;
}

.d28 {
  height: 29px;
  left: 41%;
  top: 84%;
  width: 29px;
  -webkit-animation: twirl 44s linear infinite;
  -moz-animation: twirl 44s linear infinite;
  -ms-animation: twirl 44s linear infinite;
  -o-animation: twirl 44s linear infinite;
  transition: twirl 44s linear infinite;
  animation: twirl 44s linear infinite;
}

.s28 {
  right: 35%;
}

.d28 {
  left: 35%;
}

.d28,
.s28 {
  top: 224%;
}

.p28 {
  height: 8px;
  left: 21%;
  top: 53%;
  width: 8px;
}

.t28 {
  height: 10px;
  right: 31%;
  top: 41%;
  width: 10px;
}

.c28 {
  width: 60%;
}

.c28 {
  height: 11%;
  background-color: #edddc4;
  border-radius: 200px;
}

.c28 {
  float: right;
}

.s29 {
  height: 30px;
  right: 23%;
  top: 87%;
  width: 30px;
  -webkit-animation: twirl 49s linear infinite;
  -moz-animation: twirl 49s linear infinite;
  -ms-animation: twirl 49s linear infinite;
  -o-animation: twirl 49s linear infinite;
  transition: twirl 49s linear infinite;
  animation: twirl 49s linear infinite;
}

.d29 {
  height: 25px;
  left: 7%;
  top: 87%;
  width: 25px;
  -webkit-animation: twirl 45s linear infinite;
  -moz-animation: twirl 45s linear infinite;
  -ms-animation: twirl 45s linear infinite;
  -o-animation: twirl 45s linear infinite;
  transition: twirl 45s linear infinite;
  animation: twirl 45s linear infinite;
}

.p29 {
  height: 10px;
  left: 31%;
  top: 7%;
  width: 10px;
}

.t29 {
  height: 9px;
  right: 36%;
  top: 22%;
  width: 9px;
}

.c29 {
  width: 50%;
}

.c29 {
  height: 17%;
  background-color: #edddc4;
  border-radius: 200px;
}

.c29 {
  float: right;
}

.s30 {
  height: 33px;
  right: 31%;
  top: 90%;
  width: 33px;
  -webkit-animation: twirl 23s linear infinite;
  -moz-animation: twirl 23s linear infinite;
  -ms-animation: twirl 23s linear infinite;
  -o-animation: twirl 23s linear infinite;
  transition: twirl 23s linear infinite;
  animation: twirl 23s linear infinite;
}

.d30 {
  height: 39px;
  left: 2%;
  top: 90%;
  width: 39px;
  -webkit-animation: twirl 49s linear infinite;
  -moz-animation: twirl 49s linear infinite;
  -ms-animation: twirl 49s linear infinite;
  -o-animation: twirl 49s linear infinite;
  transition: twirl 49s linear infinite;
  animation: twirl 49s linear infinite;
}

.s30 {
  right: 34%;
}

.d30 {
  left: 28%;
}

.d30,
.s30 {
  top: 240%;
}

.p30 {
  height: 15px;
  left: 20%;
  top: 7%;
  width: 15px;
}

.t30 {
  height: 15px;
  right: 48%;
  top: 11%;
  width: 15px;
}

.c30 {
  width: 60%;
}

.c30 {
  height: 14%;
  background-color: #edddc4;
  border-radius: 200px;
}

.c30 {
  float: right;
}

.contact, .contact > .text {
  height: auto;
}

@keyframes twirl {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=style.css.map */