@import url("https://fonts.googleapis.com/css?family=Glass+Antiqua|Raleway");
body {
  background-color: #0c0c0c;
  color: #edddc4;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 20px;
  font-family: "Raleway", sans-serif;
}

a{color:#edddc4; text-decoration:underline;}

a:hover{color:#fff;}
.cls-1{fill:#8bc53f;}
.cls-2{fill:#30332c;}
.cls-3{fill:#7f584c;}
.cls-4{fill:#dc7a7e;}
.container{max-width:1200px; margin-left:auto; margin-right:auto;}
.hidden {
  display: none;
}

.content {
  left: 20px;
  margin-left: -20px;
  margin-top:5%;
  position: relative;
  scroll-behavior: smooth;
}

.text {
  font-family: "Raleway", sans-serif;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  text-align: center;
  top: 50%;
  margin-top: -50px;
  position: relative;
  z-index: 10;
  width: 100%;
}

.nameplate {
  font-family: "Glass Antiqua", serif;
  background-color: #0c0c0c;
  background-clip: content-box;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 4em;
  font-weight: 100;
  color: #edddc4;
}

.tagline {
  color: #edddc4;
  background-color: #0c0c0c;
  font-size: 2em;
}

.wrapper {
  width: 100%;
  position: relative;
  height: 100vh;
  padding-bottom: 2em;
}

.portfolio {
  display: flex;
  align-items: center;
}


.cols {display:flex; justify-content:space-between;}
.cols > .sample {flex:1; padding:3%}
.sample-title{font-size:2em; font-family:'Glass Antiqua', serif; margin-bottom:10px; font-weight:400;}

.sample-img > img{width:100%; margin: 10px 0 10px 0;}
