@import url("https://fonts.googleapis.com/css?family=Glass+Antiqua|Raleway");
body {
  background-color: #0c0c0c;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
.hidden {display:none;}
.navigation {
  position: fixed;
  width: 100%;
  z-index: 11;
  top: 0px;
  height: 2em;
}

.star img {
  height: 1.5em;
}

.top > div {
  padding: 10px;
  text-align: center;
}

.col {
  width: 25%;
  padding: 0;
  margin: 0;
  display: block;
  float: left;
  font-size: 2.5rem;
  vertical-align: top;
  text-align: center;
  font-family: "Glass Antiqua", cursive;
  color: #edddc4;
}

.content {
  left: 20px;
  margin-left: -20px;
  height: 100vh;
  position: relative;
  scroll-behavior: smooth;
}

.text {
  font-family: "Raleway", sans-serif;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  text-align: center;
  top: 50%;
  margin-top: -50px;
  position: relative;
  z-index: 10;
  width: 100%;
}

.nameplate {
  font-family: "Glass Antiqua", cursive;
  background-color: #0c0c0c;
  background-clip: content-box;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 4em;
  font-weight: 100;
	  color: #edddc4;
}

.tagline {
  color: #edddc4;
  background-color: #0c0c0c;
  font-size: 2em;
}

.wrapper {
  width: 100%;
  position: relative;
  height: 100vh;
  padding-bottom: 2em;
}

.portfolio {display:flex; align-items:center;}

@keyframes twirl {
	from {
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-ms-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.stars {
	background: url("http://caitlynchristensen.com/assets/star.svg");
	background-repeat: no-repeat;
	background-size: 100%;
	display: inline-block;
	position: absolute;
	width: 100%;
}

.dots {
	background-color: #edddc4;
	border-radius: 50px;
	display: inline-block;
	position: absolute;
	width: 100%;
}
@for $i from 1 through 30 {
	.s#{$i} {
		$size: random(40) + 15px;
		height: $size;
		right: random(10) + 0%;
		top: $i * 10+ 0%;
		width: $size;
		-webkit-animation: twirl random(30)+20s linear infinite;
		-moz-animation: twirl 12s linear infinite;
		-ms-animation: twirl 12s linear infinite;
		-o-animation: twirl 12s linear infinite;
		transition: twirl 12s linear ifinite;
	}

	.d#{$i} {
		$size: random(40) + 15px;
		height: $size;
		left: random(10) + 0%;
		top: $i * 10+ 0%;
		width: $size;
		-webkit-animation: twirl random(30)+20s linear infinite;
		-moz-animation: twirl random(30)+20s linear infinite;
		-ms-animation: twirl random(30)+20s linear infinite;
		-o-animation: twirl random(30)+20s linear infinite;
		transition: twirl random(30)+20s linear ifinite;
	}

	@if $i % 2 == 0 {
		.s#{$i} {
			right: 10 + random(15) + 0%;
		}
		.d#{$i} {
			left: 10 + random(15) + 0%;
		}
		.d#{$i},
		.s#{$i} {
			top: $i * 8 + 0%;
		}
	}

	.p#{$i} {
		$size: random(10) + 5px;
		height: $size;
		left: random(40) + 0%;
		top: random(98) +0%;
		width: $size;
	}

	.t#{$i} {
		$size: random(10) + 5px;
		height: $size;
		right: random(30) + 1%;
		top: random(98) +0%;
		width: $size;
	}
	@if random(10) % 2 == 0 {
		.d#{$i},
		.s#{$i} {
			animation-direction: reverse;
		}
	}
}

.downwards {
	width: 1px;
	margin-left:auto;
	margin-right:auto;
	margin-top:1em;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	transition: border 1s ease;
}

.start > .text>a>.downwards{
	border-top: 20px solid #edddc4;
}
.start > .text>a>.downwards:hover {
	border-top: 20px solid #179db5;
}
.about >.text>a>.downwards{
	border-top: 20px solid #046a73;
}
.about > .text>a>.downwards:hover {
	border-top: 20px solid #772277;
}

.design >.text>a>.downwards{
	border-top: 20px solid #046a73;
}
.design >.text>a>.downwards:hover {
	border-top: 20px solid #179db5;
}

.dev > .text>a>.downwards{
	border-top: 20px solid #046a73;
}
.dev >.text>a>.downwards:hover {
	border-top: 20px solid #da4167;
}

.star a, .star a:visited, .star a:active {color:#edddc4}
.star {
	background-color: #0c0c0c; color: #edddc4;
}

.about a, .about a:visited, .about a:active {color:#046a73}
.about {
	background-color: #179db5; color:#046a73;
}

.design a, .design a:visited, .design a:active {color:#330033}
.design {
	background-color: #772277; color:#330033;
}
.dev a, .dev a:visited, .dev a:active {color:#afa89c}
.dev {
	background-color: #edddc4;
	color: #afa89c;
}
.contact a, .contact a:visited, .contact a:active {color:#a71034}
.contact {
	background-color: #da4167; color:#a71034;
}

a, a:visited{text-decoration:none;}


#portfolio > .content >.text{ position:relative; top:auto; margin-top:0px; transform:none;}
#portfolio > .content {height:auto;}
.portfolio-head {height:auto; padding-bottom:50px;}
.portfolio {clear:both; }

.addt {padding-top:50px;}
.col.sample {background-color:#222;  flex: 1.5;}
.col.specs {color: #edddc4; flex:1; text-align:left; padding:5% 2%;}
.sample-img{width:100%;}
.col {font-family:"Raleway", sans-serif}
ul {padding-inline-start:0;}
li {list-style: none; font-size: .75em;}
.no-center{align-items:start;}
.box {min-height:200px;}
